// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text{
    margin-right: 150px;
    margin-top: 150px;
    font-family: HGSMinchoB;
    color: white;
    font-size: 10px;
  
 }
 
 .text2{
    margin-left: 200px;
    margin-top: 170px;
    margin-bottom: 150px;
    font-family: HGSMinchoB;
    color: white;
    font-size: 10px;
 }

 .tago2{
    display: flex;
    padding-left: 150px;
    padding-right: 100px;
 }

 .tago3{
    margin-top: 30px;
    display: flex;
    text-align: center;
 }

 .image2{
    padding-left: 100px;
 }


