.診断あああ{
    color: white;
    font-family: 'HGSMinchoB';
    height: 500px;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    line-height: 1.5;
}

.kekka{
    color: white;
    font-family: 'HGSMinchoB';
    height: 500px;
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
    line-height: 1.5;
}

.tweet a{
    color: white;
    font-family: 'HGSMinchoB';
    height: 500px;
    text-align: center;
    font-size: 22px;
    line-height: 3;
}

.tweet{
    font-size: 22px;
}