.field{
    color: white;
    font-family: 'HGSMinchoB';
    margin: 15px;
    margin-left: 170px;
}

.btn-square-pop{
    margin-left: 185px;
    color:white

}

.ログイン{
    height: 500px;
    display: flex;
    color:black
  }

.ログイ{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 47px;
}

.hever {
    color: white;
    background-color: black;
    border: solid 1px white;
    font-family: 'HGSMinchoB';
    font-size: 15px;
    padding: 5px;
    margin-left:215px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .hever:hover {
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: 'HGSMinchoB';
    padding: 5px;
    margin-left:215px;
    margin-top: 5px;
    margin-bottom: 20px;
  
  
  
  }
