.詳細{
    color: white;
    font-family: 'HGSMinchoB';
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.詳細 a{
    color: white;
    font-family: 'HGSMinchoB';
}


.詳細後{
    color: white;
    font-family: 'HGSMinchoB';
}

.詳細後 a{
    color: white;
    font-family: 'HGSMinchoB';
}
