.サインアップ{
   color: white;
   font-family: 'HGSMinchoB';
   margin-top: 100px;
   margin-left: 200px;

}


 .sign_up_box{
   display:flex;
 }

 .sign_up{
   height: 500px;
 }


.image1{
   margin-left: 150px;
   margin-top: 70px;
   
      
}

.hover {
  color: white;
  background-color: black;
  border: solid 1px white;
  font-family: 'HGSMinchoB';
  font-size: 15px;
  padding: 5px;
  margin-left:200px;
 
}

.hover:hover {
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: 'HGSMinchoB';
  padding: 5px;



}



 