<div class="tago">
  <% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user == @user || current_user.admin? %>
    <%= link_to "新規投稿へ", new_muscle_path %>
    <% end %>
  <% end %>
  <div class="tago2">
    <div class="text">
      <h1>・正月太りや長期期間での休みから</h1>
      
      <h1>　体重が増えた方に向けたサイトです。</h1>
      
      <h1>・男性、女性ともに痩せて</h1>
      
      <h1>　理想の体系を目指そう！</h1>
    </div>
    <div class="image">
     <img src="/assets/筋トレ.jpg" width="450" >
    </div>
  </div>
  <div class="tago3">
    <div class="image2">
     <img src="/assets/ダイエット.jpg" width="450"  >
    </div>
    <div class="text2">
      <h1>男性か女性、</h1>
      <h1>５キロ以上、５キロ未満で</h1>
      <h1>メニューが変わります！！</h1>
    </div>
  </div>
</div>