<div class="kekka">
    <div class="intoro">
                <p>診断結果</p>
                <p>あなたにおすすめの筋トレはこれだ！！下のリンクにいってくれ！！</p>
    </div>
            <div class="tweet-container">
                <div class="tweet">
                
                    <% if @test.question == "ああ" %>
                    <p>男性</p>
                    <p>５キロ以上</p>
                    <%= link_to "Yahooへ移動する", muscles_men6_path %>

                    <% elsif @test.question == "あい" %>
                    <p>男性</p>
                    <p>５キロ未満</p>
                    <%= link_to "Yahooへ移動する", muscles_men5_path %>

                    <% elsif @test.question == "いあ" %>
                    <p>女性</p>
                    <p>５キロ以上</p>
                    <%= link_to "Yahooへ移動する", muscles_women6_path %>

                    <% elsif @test.question == "いい" %>
                    <p>女性</p>
                    <p>５キロ未満</p>
                    <%= link_to "Yahooへ移動する", muscles_women5_path %>
                <% end %>

            </div>
</div>
             

               
