<div class="intoro">
            <h5>診断結果</h5>
            <p>あなたにおすすめの筋トレはこれだ！！下のリンクにいってくれ！！</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
            
                <% if @test.question == "ああ" %>
                <h6>男性</h6>
                <p>５キロ以上</p>
                <%= link_to "Yahooへ移動する", muscles_men6_path %>

                <% elsif @test.question == "あい" %>
                <h6>男性</h6>
                <p>５キロ未満</p>
                <%= link_to "Yahooへ移動する", muscles_men5_path %>

                <% elsif @test.question == "いあ" %>
                <h6>女性</h6>
                <p>５キロ以上</p>
                <%= link_to "Yahooへ移動する", muscles_women6_path %>

                <% elsif @test.question == "いい" %>
                <h6>女性</h6>
                <p>５キロ未満</p>
                <%= link_to "Yahooへ移動する", muscles_women5_path %>
            <% end %>

        </div>
             

               
